<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type"
          content="application/xhtml+xml; charset=utf-8"/>
    <meta name="description"
          content="Battle Cats Rolls"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="none"/>
    <link rel="icon" type="image/png" href="/asset/image/treasure.png"/>
    <link href="/asset/style/tacit.css" rel="stylesheet" type="text/css">
    <title>Battle Cats Rolls</title>
    <style type="text/css">
      #notice { background-color: pink; }

      table { border-collapse: collapse; }
      table, th, td {
        border: 1px solid black;
        text-align: center;
      }
      .rare { background-color: white; }
      .owned { background-color: azure; }
      <% case route.theme; when 'mkweb' %>
      /* http://mkweb.bcgsc.ca/colorblind/img/colorblindness.palettes.v11_4.png */
      .supa_fest { background-color: #AFFF2A; }
      .supa { background-color: #FFDC3D; }
      .uber_fest { background-color: #FF9DCB; }
      .uber { background-color: #F60239; }
      .exclusive { background-color: #00E5F8; }
      .found { background-color: #00F407; }
      .legend { background-color: #8400CD; }
      .attack { background-color: white; }
      .triggered_attack { background-color: #FFCFE2; }
      <% else %>
      .supa_fest { background-color: yellow; }
      .supa { background-color: gold; }
      .uber_fest { background-color: salmon; }
      .uber { background-color: red; }
      .exclusive { background-color: aqua; }
      .found { background-color: lime; }
      .legend { background-color: darkviolet; }
      .attack { background-color: lavender; }
      .triggered_attack { background-color: pink; }
      .talents { background-color: lightyellow; }
      .ultra_talents { background-color: lightpink; }
      <% end %>
      .legend a, .legend { color: #d8a56f; }
      .navigate { cursor: help; }
      .pick { cursor: cell; }
      .picked {
        background-image: linear-gradient(#00000033, #00000033);
      }
      .picked_consecutively {
        background-image: linear-gradient(#00000088, #00000088);
      }
      .next_position {
        background-image: repeating-linear-gradient(
          90deg,
          #00000055  5px, #00000055 15px,
          #00000033 15px, #00000033 25px
        );
      }
      #seed_input { width: 10em; }
      #count_input, #level_input { width: 3.5em; }
      #rare_input, #supa_input, #uber_input { width: 5em; }
      .menu { width: 60px; height: 60px; }
      .section { margin-bottom: 15px; }
      .border, .border_upper, .border_lower { border: 2px solid; }
      .border_upper { border-bottom: none; }
      .border_lower { border-top: none; }
      .border_middle { border-left: 2px solid; border-right: 2px solid; }
      .border_bottom { border-top: 2px solid; }

      <% unless show_details %>
        .score, .cat { border-bottom-style: none; }
        .cat { border-top-style: none; }
      <% end %>
    </style>
    <script type="text/javascript">
      function roll(element) {
        element.form.submit();
      };
      function pick(position) {
        window.location = '<%= route.uri %>' + '&pick=' + position
          + '#N' + position.replace(/[RGX]/g, '');
      };
    </script>
  </head>
  <body>
    <div id="menu">
      <a href="<%= route.uri %>" title="Home / Permalink">
        <img class="menu" src="/asset/image/treasure.png"></a>
      <a href="<%= route.cats_uri %>" title="Show me all cats">
        <img class="menu" src="/asset/image/cats.png"></a>
      <a href="<%= route.help_uri %>" title="Help!">
        <img class="menu" src="/asset/image/help.png"></a>
      <a href="<%= route.logs_uri %>" title="What's changed?">
        <img class="menu" src="/asset/image/logs.png"></a>
      <a href="<%= route.seek_uri %>" title="Looking for your seed?">
        <img class="menu" src="/asset/image/seek.png"></a>
      <hr>
    </div>

    <div id="notice" class="section">
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <hr>
      <a href="//<%= route.web_host %>/help">Help</a>
      /
      <a href="https://gitlab.com/godfat/battle-cats-rolls">Source</a>
      &copy;
      2018-2024 Lin Jen-Shin (godfat)
    </div>
  </body>
</html>
